## Practical 3: Foundations (Part 2)

Getting to grips with Dictionaries, LOLs and DOLs

In this notebook we are exploring basic (in the sense of fundamental)
data structures so that you understand both how to manage more complex
types of data and are prepared for what we will encounter when we start
using `pandas` to perform data analysis. To achieve that, you will need
to be ‘fluent’ in “nested” lists and dictionaries; we will focus
primarily on lists-of-lists and dictionaries-of-lists, but note that
file formats like JSON can be understood as
dictionaries-of-dictionaries-of-lists-of-… so this is just a *taster* of
real-world data structures.

> **Tip**
>
> You should download this notebook and then save it to your own copy of
> the repository. Follow the process used *last* week
> (i.e. `git add ...`, `git commit -m "..."`, `git push`) right away and
> then do this again at the end of the class and you’ll have a record of
> everything you did.

## 1. From Lists to Data (Little Steps)

We’re going to start off using lists and dictionaries that *we* define
right at the start of the ‘program’, but the *real* value of these data
structures comes when we build a list or dictionary *from* data such as
a file or a web page… and that’s what we’re going to do below!

First, here’s a reminder of some useful methods (*i.e.* functions) that
apply to lists which we covered in the
[lecture](https://jreades.github.io/fsds/sessions/week2.html#lectures)
and
[practical](https://jreades.github.io/fsds/sessions/week2.html#practical)
in Week 2:

| Method | Action |
|--------------------|----------------------------------------------------|
| `list.count(x)` | Return the number of times x appears in the list |
| `list.insert(i, x)` | Insert value `x` at a given position `i` |
| `list.pop([i])` | Remove and return the value at position `i` (`i` is optional) |
| `list.remove(x)` | Remove the first element from the list whose value is `x` |
| `list.reverse()` | Reverse the elements of the list in place |
| `list.sort()` | Sort the items of the list in place |
| `list.index(x)` | Find the first occurence of `x` in the list |
| `list[x:y]` | Slice the list from index `x` to `y-1` |

This should all be revision… because it’s how we finished things up
*last week*. But I want to go over it *briefly* again because we’re
going to build on it this week.

> **Hint**
>
> As before, `??` will highlight where one or more bit of code are
> missing and need to be filled in…

### 1.1 List Refresher

> **Difficulty: Low.**

To complete these tasks, all of the methods that you need are listed
above, so this is about testing yourself on your understanding *both* of
how to read the help *and* how to index elements in a list.

The next line creates a list of city names (each element is a string):

In [1]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]

#### 1.1.1 List Arithmetic

Replace the `??` so that it prints `Belfast`.

##### 1.1.1.1 Question

In [2]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
print(cities[2 + 2])

Belfast

#### 1.1.2 Negative List Arithmetic

Use a **negative** index to print `Belfast`:

##### 1.1.2.1 Question

In [3]:
print(cities[-2])

Belfast

#### 1.1.3 Finding a Position in a List

Replace the `??` so that it prints the *index* for Manchester in the
list.

##### 1.1.3.1 Question

In [4]:
print("The position of Manchester in the list is: " + str( cities.index('Manchester') ))

The position of Manchester in the list is: 2

### 1.2 Looking Across Lists

> **Connections**
>
> This section draws on the
> [LOLs](https://jreades.github.io/fsds/sessions/week3.html#lectures)
> lecture and you will also find Code Camp’s
> [Loops](https://jreades.github.io/code-camp/lessons/Loops.html)
> session useful here.

> **Difficulty: Medium.**

Notice that the list of `temperatures` below is the same length as the
list of `cities`, that’s because these are (roughly) the average
temperatures for each city.

In [5]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]

#### 1.2.1 Lateral Thinking

Given what you know about `cities` and `temperatures`, how do you print:

> “The average temperature in Manchester is 13.4 degrees”

But you have to do this *without* doing any of the following:

1.  Using a list index directly (*i.e.* `cities[2]` and
    `temperatures[2]`) or
2.  Hard-coding the name of the city?

To put it another way, **neither** of these solutions is the answer:

``` python
print("The average temperature in Manchester is " + str(temperatures[2]) + " degrees.")
# ...OR...
city=2
print("The average temperature in " + cities[city] + " is " + str(temperatures[city]) + " degrees.")
```

> **Tip**
>
> You will need to combine some of the ideas above and also think about
> the fact that the list index is that we need is the same in both
> lists… Also, remember that you’ll need to wrap a `str(...)` around
> your temperature to make it into a string.

##### 1.2.1.1 Question

In [13]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
city="Manchester" # Use this to get the solution...
index = cities.index(city)
# This way is perfectly fine
print("The average temperature in " + city + " is " + str(temperatures[index]) + " degrees.")

# This way is more Python 3 and a bit easier to read
print(f"The average temperature in {city} is {temperatures[index]}degress.")

The average temperature in Manchester is 13.4 degrees.
The average temperature in Manchester is 13.4degress.

#### 1.2.2 Double-Checking Your Solution

You’ll know that you got the ‘right’ answer to the question above if you
can copy+paste your code and change only **one** thing in order to print
out: “The average temperature in Belfast is 15.2 degrees”

##### 1.2.2.1 Question

In [14]:
city="Belfast"
index=cities.index(city)
print(f"The average temperature in {city} is {temperatures[index]}degress.")

The average temperature in Belfast is 15.2degress.

#### 1.2.3 Loops

Now use a `for` loop over the cities to print out the average
temperature in each city:

##### 1.2.3.1 Question

In [16]:
for c in cities:
    index = cities.index(c)
    print(f"The average temperature in {c} is {temperatures[index]}")

The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

The output should be:

In [ ]:
The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

## 2. Dictionaries

> **Connections**
>
> This section draws on the
> [Dictionaries](https://jreades.github.io/fsds/sessions/week3.html#lectures)
> lecture and Code Camp
> [Dictonaries](https://jreades.github.io/code-camp/lessons/Dicts.html)
> session.

> **Difficulty: Low.**

Remember that dictionaries (a.k.a. dicts) are like lists in that they
are [data
structures](https://docs.python.org/2/tutorial/datastructures.html)
containing multiple elements. A key difference between
[dictionaries](https://docs.python.org/2/tutorial/datastructures.html#dictionaries)
and [lists](https://docs.python.org/2/tutorial/introduction.html#lists)
is that while elements in lists are ordered, dicts (in most programming
languages, though not Python) are unordered. This means that whereas for
lists we use integers as indexes to access elements, in dictonaries we
use ‘keys’ (which can multiple different types; strings, integers,
etc.). Consequently, an important concept for dicts is that of key-value
pairs.

### 2.1 Creating an Atlas

The code below creates an Atlas using a dictionary. The dictionary `key`
is a city name, and the `value` is the latitude, longitude, and main
airport code.

In [11]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}

#### 2.1.1 Adding to a Dict

Add a record to the dictionary for Chennai ([data
here](https://en.wikipedia.org/wiki/Chennai))

##### 2.1.1.1 Question

In [19]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}
cities['Chennai'] = [13.08, 80.27, 'MAA']

#### 2.1.2 Accessing a Dict

In *one* line of code, print out the airport code for Chennai (`MAA`):

##### 2.1.2.1 Question

In [20]:
print(cities['Chennai'][2])

MAA

### 2.2 Dealing With Errors

Check you understand the difference between the following two blocks of
code by running them.

In [14]:
try:
    print(cities['Berlin'])
except KeyError as e:
    print("Error found")
    print(e)

Error found
'Berlin'

In [15]:
try:
    print(cities.get('Berlin','Not Found'))
except KeyError as e:
    print("Error found")
    print(e)

Not Found

Notice that trying to access a non-existent element of a dict triggers a
`KeyError`, while asking the dict to `get` the *same element* does not,
it simply returns `None`. Can you think why, depending on the
situtation, *either* of these might be the ‘correct’ answer?

### 2.3 Thinking Data

This section makes use of both the
[Dictionaries](https://jreades.github.io/fsds/sessions/week3.html#lectures)
lecture and the [DOLs to
Data](https://jreades.github.io/fsds/sessions/week3.html#lectures)
lecture.

> **Tip**
>
> In this section you’ll need to look up (i.e. Google) and make use of a
> few new functions that apply to dictionaries: `<dictionary>.items()`,
> `<dictionary>.keys()`. *Remember*: if in doubt, add `print(...)`
> statements to see what is going on!

#### 2.3.1 Iterating over a Dict

Adapting the code below, print out the city name and airport code for
every city in our Atlas.

##### 2.3.1.1 Question

In [21]:
for c in cities.keys():
    airport_code = cities[c][2]
    print(f'{c} -> {airport_code}')

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

The output should look something like this:

In [ ]:
San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

#### 2.3.2 More Complex Dicts

How would your code need to change to produce the *same output* from
this data structure:

In [17]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}

##### 2.3.2.1 Question

In [27]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}
for c in cities.keys():
    latitude = cities[c]['lat']
    print(f'{c} is at latitude {latitude}')

San Francisco is at latitude 37.77
London is at latitude 51.51
Paris is at latitude 48.86
Beijing is at latitude 39.92
Chennai is at latitude 13.08

#### 2.3.3 More Dictionary Action!

And how would it need to change to print out the name and latitude of
every city?

##### 2.3.3.1 Question

In [28]:
for c in cities.keys():
    latitude = cities[c]['lat']
    print(f'{c} is at latitude {latitude}')

San Francisco is at latitude 37.77
London is at latitude 51.51
Paris is at latitude 48.86
Beijing is at latitude 39.92
Chennai is at latitude 13.08

The output should be something like this:

In [ ]:
San Francisco is at latitude 37.77
London is at latitude 51.51
Paris is at latitude 48.86
Beijing is at latitude 39.92
Chennai is at latitude 13.08

#### 2.3.4 And Another Way to Use a Dict

Now produce the *same output* using this new data structure:

In [21]:
cities_alt = [
    {'name':     'San Francisco',
     'position': [37.77, -122.43],
     'airport':  'SFO'},
    {'name':     'London',
     'position': [51.51, -0.08],
     'airport':  'LDN'},
    {'name':     'Paris',
     'position': [48.86, 2.29],
     'airport':  'PAR'},
    {'name':     'Beijing',
     'position': [39.92, 116.40],
     'airport':  'BEI'},
    {'name':     'Chennai', 
     'position': [13.08, 80.28],
      'airport': 'MAA'}
]

##### 2.3.4.1 Question

In [31]:
cities_alt = [
    {'name': 'San Francisco', 'position': [37.77, -122.43], 'airport': 'SFO'},
    {'name': 'London', 'position': [51.51, -0.08], 'airport': 'LDN'},
    {'name': 'Paris', 'position': [48.86, 2.29], 'airport': 'PAR'},
    {'name': 'Beijing', 'position': [39.92, 116.40], 'airport': 'BEI'},
    {'name': 'Chennai', 'position': [13.08, 80.28], 'airport': 'MAA'},
]

for c in cities_alt:
    name = c['name']
    latitude = c['position'][0]
    print(f"{name} is at latitude {latitude}")

San Francisco is at latitude 37.77
London is at latitude 51.51
Paris is at latitude 48.86
Beijing is at latitude 39.92
Chennai is at latitude 13.08

The output should be something like this:

In [ ]:
San Francisco is at latitude 37.77
London is at latitude 51.51
Paris is at latitude 48.86
Beijing is at latitude 39.92
Chennai is at latitude 13.08

#### 2.3.5 Think Data!

What are some of the main differences that you can think of between
`cities` and `cities_alt` *as* data? There is no right answer.

> **Tip**
>
> I just want you to think about these *as data*! If you were trying to
> use `cities` and `cities_alt` as data what differences would you find
> when accessing one or more ‘records’?

-   Point 1 here.
-   Point 2 here.
-   Point 3 here.

### 2.4 Add to Git/GitHub

Now follow the same process that you used last week to ensure that your
edited notebook is updated in Git and then synchronised with GitHub.